<ion-view view-title="About">
  <ion-content class="padding about">
    <h1>Dental Products Search App</h1>
    <br>
    <p>
    This App was developed by Yonny Alexander Quiceno with learning purposes on Ionic framework.
    </p>
    <p>
      The Data showed on search view is retrieved from dz-suggestions-api (also developed by Alexander Quiceno; repository at <a href="https://github.com/yonnyquiceno/dz_api"> https://github.com/yonnyquiceno/dz_api </a>)
    </p><br>
    <div class="happy-icon-container">
      <i class="icon ion-happy-outline" style="font-size:70px; color:silver"></i>
    </div>
    <h2>Glad to see you here!</h2>
  </ion-content>
</ion-view>
